@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

body {
  background-color: #F2F2E8;
  color: #8E8E8E;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

a {
  color: #F07057;
  text-decoration: none;
}

body > header {
  background-color: #FFF;
  box-shadow: 0 1px 5px -1px #333333;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 10px 0 0;
  z-index: 1;
}

#logo {
  float: left;
  margin: 10px 0 0;
}

#sitename {
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
}

header #container {
  margin: 0 auto;
  max-width: 960px;
}

nav {
  float: right;
}

#menu {
  list-style: none;
}

#menu li {
  float: left;
  padding: 0 0 0 30px;
  margin-top: 10px;
  letter-spacing: 4px;
}

#menu li a {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 10px;
  border-top: 2px solid #Fff;
  transition: all 0.65s ease 0s;
}

#menu li a:hover {
  border-top: 2px solid #F07057;
}

#conteudo {
  margin: 120px auto 0 auto;
  max-width: 960px;
}

#principal {
  width: 72.9167%;
  float: left;
  padding-bottom: 20px;
}

#lateral {
  width: 22.9167%;
  float: left;
  margin-top: 10px;
  padding: 10px;
}

article header h2 {
  margin-bottom: 0;
}

article aside {
  background-color: blue;
}

article aside ul {
  list-style: none;
  color: #BFBFBF;
  margin: 0;
  padding: 0;
}

article aside li {
  float: left;
}

article aside li.data {
  margin-left: 10px;
}

article .texto {
  clear: both;
  margin: 30px 0;
}

footer.readmore {
  margin-bottom: 20px;
}

footer.readmore a {
  background-color: #FFFFFF;
  border: 2px solid #BFBFBF;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.35s ease-in-out 0s;
  width: 105px;
}

footer.readmore a:hover {
  background-color: #f2f2e8;
}

footer#main-footer {
  clear: both;
  min-height: 120px;
  background-color: #F07057;
  padding: 15px 0;
  color: #FFF;
}

footer#main-footer address {
  max-width: 960px;
  margin: 0 auto;
}

form .campo{
  padding: 5px 0;
}

form label {
  display: block;
}
